.container {
  padding: 20px 200px;
}

.content {
  width: 65%;
  display: inline-flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.shadow {
  -moz-box-shadow: 0px 0px 5px 0px #bbb;
  -webkit-box-shadow: 0px 0px 5px 0px #bbb;
  -o-box-shadow: 0px 0px 5px 0px #bbb;
  box-shadow: 0px 0px 5px 0px #bbb;
}

/* CARD */

.card {
  width: 48%;
  height: auto;
  /*padding: 15px 25px;*/
  margin-bottom: 25px;
  background-color: #fff;
  border-radius: 6px;
}
.pics:hover > img {
  width: 105%;
  transition: 0.5s;
  opacity: 0.5;
}

.card a {
  color: #555;
}
.card a:hover {
  color: #C62828;
}
.card a h3 {
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
  width: 660px;
}

/* Title Card */

.titleCard {
  height: 40px;
  width: 100%;
}
.titleCard > h3 {
  color: #fff;
  position: relative;
  bottom: 60px;
  left: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 24px;
  width: 92%;
  white-space: nowrap;
}
.titleCard > span {
  position: relative;
  bottom: 62px;
  left: 4px;
}
.titleCard > .tags {
  position: relative;
  bottom: 60px;
  right: 4px;
}
.tags {
  float: right;
  display: flex;
  flex-wrap: wrap;
}

 /* details */

.details, .pics {
  display: inline-block;
  width: 50%;
}
.details {
  float: right;
  font-size: 14px;
  vertical-align: top;
  text-align: justify;
}
.detailsPost {
  margin: 10px 0;
  float: none !important;
}
.detailsPost span {
  display: block;
}

.detailsPost .kiff {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

/* Pics */

.pics {
  height: 195px;
  width: 100%;
  overflow: hidden;
  background-color: #000;

  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.pics img {
  position: relative;
  margin: auto;
  width: 100%;
  top: -50px;

  transition: 0.5s;
}
