.container {
  padding: 20px 200px;
}

.content {
  width: 65%;
  display: inline-flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.shadow {
  -moz-box-shadow: 0px 0px 5px 0px #bbb;
  -webkit-box-shadow: 0px 0px 5px 0px #bbb;
  -o-box-shadow: 0px 0px 5px 0px #bbb;
  box-shadow: 0px 0px 5px 0px #bbb;
}

/* CARD */

.card {
  width: 48%;
  height: auto;
  /*padding: 15px 25px;*/
  margin-bottom: 25px;
  background-color: #fff;
  border-radius: 6px;
}
.pics:hover > img {
  width: 125%;
  transition: 0.5s;
  opacity: 0.5;
}

.card a {
  color: #555;
}
.card a:hover {
  color: #3F51B5;
}
.vote {
  z-index: 1;
  height: 0;
  position: relative;
  top: -5px;
  left: -5px;
  color: #fff;
  font-size: 18px;
}
.vote span {
  background-color: #3F51B5;
  padding: 5px 10px;
  width: 40px;
  text-align: center;
  border-radius: 3px;
}

/* Title Card */

.titleCard {
  height: auto;
  /*line-height: 40px;*/
  width: 95%;
  margin: auto;
  padding: 10px 0;
  float: none !important;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  display: inline-flex;
}
.dateAuthor {
  float: right;
  font-size: 14px;
  display: inline;
  height: 30px;
  line-height: 30px;
}
.titleCard h3 {
  margin: 0;
  margin-bottom: 10px;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}

 /* details */

.details, .pics {
  display: inline-block;
  width: 50%;
}
.details {
  float: right;
  font-size: 14px;
  vertical-align: top;
  text-align: justify;
}
.detailsPost {
  margin: 10px 0;
  float: none !important;
}
.detailsPost span {
  display: block;
}

.detailsPost .kiff {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

/* Pics */

.pics {
  height: 195px;
  width: 100%;
  overflow: hidden;
  background-color: #000;

  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.pics img {
  position: relative;
  margin: auto;
  width: 120%;
  top: -60px;

  transition: 0.5s;
}



@media screen and (max-width: 1440px) {
  .container {
    padding: 20px 80px;
  }
  .card {
    width: 85%;
  }
}
@media screen and (max-width: 1000px) {
  .content {
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .aside {
    display: none;
  }
  .menu {
    padding: 0 10px;
  }
}
@media screen and (max-width: 600px) {
  .container {
    padding: 20px 20px;
  }
}
